- @big_button = "margin:0px; \
                 padding: 10px 40px; \
                 background-color: rgb(0, 197, 46) \
                 cursor:pointer; \
                 font-size:18px; \
                 line-height: 1.33; \
                 text-align: center; \
                 white-space: nowrap; \
                 vertical-align: middle; \
                 touch-action: manipulation; \
                 display: inline-block; \
                 font-weight: 400; \
                 border: 1px solid transparent; \
                 border-radius: 6px; \
                 text-decoration: none; \
                 color: black; \
                 :hover { color: white; } \
                 "
- @p = ""
- @ul = "margin-bottom:100px;"