.container-fluid.white-container
  .container
    .row
      .col-xs-12
        p.larger With decades of combined experience, every member of the Ripple team has witnessed, first hand, the short-comings of traditional employee evaluation processes. We have all come together to make sure employees everywhere can give and receive anonymous, honest and actionable feedback.
        p &nbsp;
        
    .row
      .col-xs-12.col-sm-12.col-md-3.col.lg-3
        .portrait
          img.img-circle.img-responsive.portrait src=asset_path("comingsoon.jpg")
      .col-xs-12.col-sm-12.col-md-3.col.lg-3
        div.smaller 
          b Lisa Mascolo
        p.smaller Bio Coming Soon.
      .col-xs-12.col-sm-12.col-md-3.col.lg-3
        .portrait
          img.img-circle.img-responsive.portrait src=asset_path("comingsoon.jpg")
      .col-xs-12.col-sm-12.col-md-3.col.lg-3
        div 
          b Lynne Healey
        p.smaller Bio Coming Soon.
      .col-xs-12.col-sm-12.col-md-2.col.lg-2
        .portrait
    p &nbsp;
    .row
      .col-xs-12.col-sm-12.col-md-3.col.lg-3
        .portrait
          img.img-circle.img-responsive.portrait src=asset_path("portrait_msm_2.jpg")
      .col-xs-12.col-sm-12.col-md-3.col.lg-3
        div.smaller 
          b M. Sean Molley
        p.smaller Sean is our resident data jockey and standup philosopher.  He’s been a lone developer, a team leader, a technology executive, and everything in between.  Sean spent most of the last 20 years building business intelligence software and services for the healthcare industry. One of his hobbies is sports officiating, so he’s used to getting negative feedback.
      .col-xs-12.col-sm-12.col-md-3.col.lg-3
        .portrait
          img.img-circle.img-responsive.portrait src=asset_path("portrait_bg_2.jpg")
      .col-xs-12.col-sm-12.col-md-3.col.lg-3
        div.smaller 
          b Bob Gatewood
        p.smaller Bob has been building systems since 1988. He was the founding CTO of athenahealth and subsequently led ventures in sustainable food and clean energy. Somehow he managed to get an aerospace engineering degree from the University of Virginia and an MBA at the University of Colorado in Boulder.  When not developing software, Bob is most likely either cooking dinner or embarrassing his teenagers.
    .row
      .col-xs-12.col-sm-12.col-md-3.col.lg-3
        .portrait  
    p &nbsp;
    .row
      .col-xs-12.col-sm-12.col-md-3.col.lg-3
        .portrait
          img.img-circle.img-responsive.portrait src=asset_path("comingsoon.jpg")
      .col-xs-12.col-sm-12.col-md-3.col.lg-3
        div.smaller 
          b Mary Abraham
        p.smaller Bio Coming Soon.
      .col-xs-12.col-sm-12.col-md-3.col.lg-3
        .portrait
         