@import 'colors';

$pending-color: maroon;
$notified-color: orange;
$active-color: green;
$declined-color: red;
$bounced-color: red;
$unsubcribed-color: red;

.invitee_email {
  display: block;
  width: 100%;
  height: 55px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857;
  margin-bottom: 15px;
  color: #555555;
  background-color: transparent;
  background-image: none;
  border: 1px solid #cccccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;

  .fa {
    margin-top: 1px;
    cursor: pointer;
  }
}

.invite-pending {
  border-color: $pending-color;
}

.invite-notified {
  border-color: $notified-color;
}

.invite-active {
  border-color: $active-color;
}

.invite-declined {
  border-color: $declined-color;
}

.invite-bounced, .invite-unsubscribed, .invite-timed_out {
  border-color: $bounced-color;
  background-color: $bounced-color;
  opacity: 0.8;
  color: white;
}

.form-group.has-feedback {
  .form-control-feedback {
    margin-top: 9px;
    cursor: pointer;
  }
}

form.sample-survey {
  padding: 20px 10px 10px 20px;
  background-color: $ripple-grey-1;
  border-radius: 5px;
  
  .survey-question {
    font-size: 16px;
    font-family: 'Lato' sans-serif;
    font-weight: bold;
    margin: 20px 0px 10px 0px;
  }
}

.pending-invitations, .active-invitations {
  .state-details {
    font-size: 12px;
    color: #888888;
  }
}
