body.subscriptions {

  nav.navbar.navbar-default {
    margin-bottom: 0px;
  }

  .light-container, .white-container {
    margin: 0px;
    padding: 15px 10px 15px 10px;
    
    p {
      color: $ripple-grey-3;
      font-family: 'Lato';
    }
    h3, h4, h5 {
      font-family: 'Lato';
      color: $ripple-grey-3;
    }
  }
  
  .light-container {
    background-color: $ripple-grey-1;
  }
  
  .white-container {
    background-color: #ffffff;
  }
  
  .mobile-light-container {
    margin: 0px;
    padding: 5px;
    background-color: $ripple-grey-1;
  }
}

