p Dear #{@user.full_name}, 

- url = edit_user_password_url(@user, reset_password_token: @token, host: @user.host)
p Good news!! Your employer has signed you up to use Ripple.  
  
p Ripple improves employee self-awareness by enabling authentic and timely feedback from your co-workers through web-based surveys. These surveys gather data on how your co-workers perceive you and make you more self-aware along five core personality traits: Curiosity, Conscientiousness,Commitment, Cooperation and Consistency (also known as the “Big 5” personality traits).

p Preliminarily, you will complete a 50-question set of surveys for your co-workers as well as a self-survey (you’ll answer the same 50 questions about yourself). These comprehensive surveys, which each should take no more than 4 or 5 minutes to complete, will allow you and your co-workers to gage how you perceive each other by viewing your Ripple Effect Scores.

p After the first survey is completed, you will periodically (once or twice a month) receive much shorter, 5 question surveys. Like the 50 question surveys, these shorter Reflection Surveys are easy to complete. You will receive Reflection Surveys for other Ripple users within (and sometimes outside of) your organization (your colleagues and people you regularly work with).

p While you will always know the name of the person you are providing feedback for, your feedback is always anonymous (the person you provide feedback for will not know the feedback is coming from you).

p Start sharing feedback now by simply clicking the link below (you may need to paste the link into your browser), choosing a password and completing the initial sets of surveys.

pre #{url}

p If you experience any issues with the Ripple experience, please do not hesitate to contact us via email at support@ripplecrew.com.  You can also review our FAQs at: https://www.ripplecrew.com/pages/faq

p Thank you,
p Noah

p Noah L. Pusey
p President & CEO
p Ripple Analytics Inc.