<p>Hello <%= @resource.email %>!</p>

<p>Someone just made a request to change your Ripple password. Click the link below to choose a new password.</p>

<p><%= link_to 'Change my password', edit_user_password_url(@resource, reset_password_token: @token, host: @resource.host) %></p>

<p>If you didn't request a password reset, you can safely ignore this message.</p>
<p>Your password won't change until you access the link above and create a new one.</p>

